doctype html
html
  head
    title Список пользователей
  body
    h1 Список пользователей
    
    a(href="/users/create") Создать пользователя
    
    table(border="1")
      tr
        th ID
        th Имя
        th Email
        th Действия
      each user in users
        tr
          td= user.id
          td= user.name
          td= user.email
          td
            a(href=`/users/edit/${user.id}`) Редактировать
            form(action=`/users/delete/${user.id}` method="POST" style="display: inline")
              button(type="submit" onclick="return confirm('Удалить пользователя?')") Удалить